<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVF</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-4xl text-gray-800 mb-10">Damn Vulnerable Flask</h1>
        <ul class="flex space-x-4 justify-center">
            <li>
                <a href="/login" class="bg-blue-500 text-white py-2 px-4 rounded-md w-20 h-10">Login</a>
            </li>
            <li>
                <a href="/union" class="bg-gray-500 text-white py-2 px-4 rounded-md w-20 h-10">Union</a>
            </li>
            <li>
                <a href="/blind" class="bg-green-500 text-white py-2 px-4 rounded-md w-20 h-10">Blind</a>
            </li>
            <li>
                <a href="/secure" class="bg-red-500 text-white py-2 px-4 rounded-md w-20 h-10">Secure</a>
            </li>
        </ul>
    </div>
</body>
</html>